 @media screen and (min-width: 375px) and (max-width: 801px)  {
    .iphoneArea {
    	visibility: hidden;
    	width: 0px;
    }
    .logoArea {
    	max-width: 250px;
    }
    .appleAppStore, .androidAppStore {
    	margin: 0px;
    	max-width: 40%;
    	clear: left;
  
    }

    body {
    	align-items: center;
		display: flex;
		justify-content: center;
    }
    .instagramInfo {
    	max-width: 350px;
    	clear: both;
    }
    .mainPage {
    	max-width: max-content;
    }
    
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

footer {
	height: 50px;
	text-align: center;
	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding-top: 25px;
  	margin-top: 25px;
}

li {
	color: #0d47a1;
	text-decoration: none;
	font-weight: 800;
	text-transform: uppercase;
	margin: 10px;
	display: inline-block;
}
p {
	margin-left: 10px;
}

/* Main Content */

.mainPage {
	background-color: #fff;
}

.topPart {
	height: 200px;
	/*background-color: #0277bd; */
	background: -webkit-linear-gradient(#0d47a1, #58a5f0); 
    background: -o-linear-gradient(#0d47a1, #58a5f0); 
    background: -moz-linear-gradient(#0d47a1, #58a5f0);
}

.middlePart {
	height: 300px;
	float: left;
}

.mainContent {
	align-items: center;
	display: flex;
	justify-content: center;
}

/* iPhone image */

.iphoneArea {
    background-size: 454px 618px;
    max-width: 450px;
    float: left;
    position: relative;
    bottom: 150px;
    margin: 10px 10px 10px 10px;
    align-items: center;
	display: flex;
	clear: left;

}

/* Instagram Logo, About, and App Store */

.instagramInfo {
	max-width: 450px;
	float: left;
	padding-bottom: 100px;
	position: relative;
	margin: 10px;
	bottom: 125px;
	align-items: center;
	display: flex;
	clear: right;
}


.logoArea {
	max-width: 450px;
	
}

.logo {
	display: inline-block;
	max-width: 314px;
}

.homeButton {
	background-color: #58a5f0;
	max-width: 150px;
	max-height: 50px;
	float: right;
	vertical-align: middle;
	color: white;
	font-weight: 800;
	text-transform: capitalize;
	margin: 5px;
	align-items: center;
	display: flex;
	padding: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #0d47a1;
}


.appleAppStore, .androidAppStore {
	max-width: 50%;
	float: left;
	margin: 10px;
}

.instagramAbout {
	background-color: white;
}
.motto {
	margin: 10px;
}
/*Footer area*/
.copyright {
	color: gray;
	font-weight: 700;
}
